body{
    padding:0px;
    margin:0px;
}
.btn{
    color:white !important;
}
.cusSticky {
    position:relative;
    top:0px;
    width: 100%;
    z-index: 999;
    }
    
    .bg-dark{
        background-color:rgb(70, 66, 66) !important;
    }
    #user-name{
        color:white;
        margin-top:8px;
        float :right;
    }
   .icon{
    width:22px;
    height:22px;
   }
  
    #names .logout:hover,.icon:hover{
    color:rgb(220, 13, 13);
   }
    #name,#names{
        font-size:18px;
        font-weight: bold;
    }
    #name li > a{
        color:white; 
        font-size:20px;
        font-family:sans-serif;
        
    }

    .navbar-brand{
        font-size:20px;
        box-shadow:6px 6px 10px 0px blue
    }
@media  screen and (max-width:992px){
    .navbar-nav{
        align-items: center;
        justify-content: center;
    }
}
