{% extends "posts/post_base.html" %}

{% block prepost %}
<div class="col-md-4">
	<h1>@{{ post_user.username }}</h1>
	<p></p>
</div>
{% endblock %}

{% block post_content %}

{%if post_list.count == 0 %}
<div class="jumbotron" style="width: 60%;font-family:italic;">

	<h1 style="font-size:30px">No post please click the  create Post button to create a new post</h1>
</div>
{%endif%}
{% if user.is_authenticated %}
	{% for post in post_list %}
	<div class="col-md-12" >
		{% include "posts/_post.html" %}
	</div>
	{% endfor %}
	{% endif %}

{% endblock %}
